@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-border {
    position: relative;
    padding-bottom: 0.5em; 
}

.custom-border::after {
    content: '';
    position: absolute;
    left: 10%; 
    bottom: 0;
    width: 80%; 
    border-bottom: 1px solid black;
}

.custom-shadow {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3), 
                0 -8px 16px rgba(0, 0, 0, 0.3);
  }

  .custom-margin {
    margin-left: 150px; 
    margin-right: 150px;
  }
  

  